*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}
 h1{
    color: black;
 }

 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:navy;
    color: white;
 }
.text{
    height: 30px; /* le hagm el drop menu*/
    width: 190px;
    background-color:whitesmoke;
    color: black;
    border-color: whitesmoke;
    border-style:groove;
    border-radius: 15px;
     padding: 0 10px;
    margin:5px 10px 5px 0;
    position: relative;
    display: block; 

}
 main {
    background-color:whitesmoke;
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 1.3rem;
 }
 
 img.ratingState {
    background-color: hsl(213deg 20% 21%);
    padding: 0.8rem;
    border-radius: 1.2rem;
 }
 
 p.ratingState {
    font-size: small;
    color:black;
    line-height: 1.5;
    padding-top: 0.6rem;
    padding-bottom: 1.2rem;
 }
 
 h1 {
    font-size: x-large;
    padding-top: 2rem;
 }
 
 button[type=submit] {
    background-color:black;
    color: white;
    border: none;
    width: 100%;
    padding: 0.6rem 0;
    border-radius: 1rem;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
 }
 .btnContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
 }
 .btnContainer > button {
    background-color: black;
    color: var(--Light-G);
    border: none;
    padding: 1rem 1.2rem;
    border-radius: 2rem;
 }
 .btnContainer > button:hover {
    background-color: paleturquoise;
    color: paleturquoise;
    cursor: pointer;
 }
 button[type=submit]:hover {
    background-color: white;
    color: white;
    cursor: pointer;
 }
 
 .thankYouState {
    display: none;
 }
 
 img + p.thankYouState {
    background-color: hsl(213deg 20% 21%);
    color:black;
    padding: 0.3rem 0.85rem;
    border-radius: 1rem;
    font-size: smaller;
    margin-top: 2rem;
 }
 
p.thankYouState {
    color: black;
    font-size: small;
    line-height: 1.5;
    text-align: center;
    padding-top: 0.5rem;
 }