{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title> Quality </title>
    <link rel="stylesheet" href="comment.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <span class="logo_name ">Quality Control</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/QualityControl/Rating/rate.html">
                    <i class='fa fa-star checked'></i>
                    <span class="links_name">Rating</span>
                </a>
            </li>
            <li>
                <a href="/QualityControl/Comment/comment.html">
                    <i class='fa fa-comments-o'></i>
                    <h1 class="links_name">Comments</h1>
                </a>
            </li>
            <li>
                <a href="/QualityControl/Flights/flight.html">
                    <i class='fa fa-plane'></i>
                    <h1 class="links_name">Flights</h1>
                </a>
            </li>
            <li>
                <a href="/QualityControl/Statistics/st.html">
                    <i class='bx bx-line-chart'></i>
                    <h1 class="links_name">Statistics</h1>
                </a>
            </li>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search....">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <img src="/QualityControl/log.png" alt="">
                <span class="admin_name">Alaa Omar</span>
                <li class="dropdown" style="list-style-type: none;">
                    <a class="dropbtn"> <i class='bx bx-chevron-down'></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="/CustomerService/settings/set.html">Settings</a>
                        <a href="/Registerstion/registeration.html">Log out</a>

                    </div>
                </li>
            </div>
        </nav>
    </section>

                <!-- Page content -->
  <div class="main">
    <h1>All Comments</h1>
            <ul>
                {% for comment in comments %}
                <li>{{ comment.name }}: {{ comment.comment }}</li>
                {% endfor %}
            </ul>

        </div>


    <script src="comment.js"></script>
</body>
</html>



