{%load static%}

<link rel="stylesheet" href={%static "CustomerServies.css"%}>
<!DOCTYPE html>

<html>
    <head>
       
        <title>Cart</title>
        <link rel="stylesheet" href="newcart.css">
        <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
        <script src = "CustomerServies.js" > </script>
    </head>
    <body>
        <div class="header">
            <p class="logo">Maska</p>
            <div class="cart"><i class="fa-solid fa-cart-shopping"></i><p id="count">0</p></div>
        </div>
        <script src="CustomerServies.js"></script>
        <div class="cart-container">
            <div id="root"></div>
            <div class="sidebar">
                <div class="card.container"><p>My Cart</p></div>
                <div id="cartItem">Your cart is empty</div>
                <div class="foot">
                    <h3>Total</h3>
                    <h2  id="total">EGP 0.00</h2>
                </div>
                <button onclick=window.location.href="{% url 'checkout'%}">Checkout</button>
            </div>
        </div>
        {%for f in Flights%}
    
        <div class="root">
            <div class="flight">
                <div class="flight-preview">
                    <h6>Flight</h6>
                    <h2>{{f.origen}} <i class="fas fa-plane airplane-icon"></i>{{f.destination}}</h2>
                </div>
                                      
                <div class="flight-info">
                    <h6>Flight ID: {{f.id}}</h6>
                    <h2>Flight Details</h2>
                    <ul>
                        <li>Flight Duration: {{f.duration}}HRS</li>
                        <li>BordingTime: {{f.BordingTime}}</li>
                        <li>Landing Time: {{f.LandingTime}}</li>
                        <li>Traviling Date: {{f.travile_time}}</li>
                    </ul>
                    <p class="price-text">Price: {{f.Price}} EGP </p>
                    <button onclick=addToCart(f.id,f.Price) class="btn" onmouseover="this.style.backgroundColor='green';" 
                    onmouseout="this.style.backgroundColor='#0A2558';">Book flight</button>
                    
                </div>
            </div>
        </div>
        {% empty %}
        <h1 class="ops" >The is no One Way Flights on this date </h1>
            {%endfor%} 
                {% comment %} ROUNDFlights {% endcomment %}
               
                {%for z in ROUNDFlights%}
                <div class="root">
                    <div class="flight">
                        <div class="flight-preview">
                            <h6>Flight</h6>
                            <h2>{{z.Roundorigen}} <i class="fas fa-plane airplane-icon"></i>{{z.Rounddestination}}</h2>
                        </div>
                                              
                        <div class="flight-info">
                            <h6>Flight ID: {{z.id}}</h6>
                            <h3>Flight Details</h2>
                            <ul>
                                <li>Travil Date : {{z.Roundtravil_date}}</li>
                                <li>Return Date : Aug. 20/8/2023 </li>
                                <li>Boarding time:{{z.RoundBordingTime}}</li>
                                <li>Landing time: {{z.RoundLandingTime}}</li>
                                <li>Trip duration: {{z.Roundduration}} hours</li>
                                <li>Return Boarding time:{{z.ReturnRoundBordingTime}}</li>
                                <li>Return Landing time: {{z.ReturnRoundLandingTime}}</li>
                                <li>Return Trip duration: {{z.Roundduration}} hours</li>
                            </ul>
                            <div class="price-container">
                            <p class="price-text">Price:{{z.RoundPrice}} EGP </p>
                            <button class="btn">Book flight</button>
                        </div>
                    </div>
                </div>
                    {% empty %}
                    <h1 class="ops" >The is no Round Flights on this date </h1>
                    {%endfor%} 

   
</body>
</html>