<!DOCTYPE html>
<html>

<head>
  <title>MASKA Airway</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", Arial, Helvetica, sans-serif
    }

    .myLink {
      display: none
    }
  </style>
</head>

<body class="w3-light-grey">


  <!-- Navigation Bar -->
  <div class="w3-bar w3-white w3-border-bottom w3-large">
    <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b>MASKA <I>Airway</I></b></a>

    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>

    <a href="/Registerstion/registeration.html"
      class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey login"><i class='bx bx-log-in'></i> Login</a>

  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-hide-small" style="max-width:2000px">
    <img class="w3-image"
      src="https://c.ekstatic.net/ecl/aircraft-exterior/emirates-united-plane-tails-hp-w1920x480.jpg?h=NWMUMuGtbfpTh5BcRSb4EQ"
      width="2000" height="1100">
    <div class="w3-display-middle" style="width:65%">
      <div class="w3-bar w3-blue">
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'One way Flight');"><i
            class="fa fa-plane w3-margin-right"></i>One way Flight</button>
        <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'roundtrip');"><i
            class="fa fa-plane w3-margin-right"></i>Roundtrip</button>
        <button class="w3-bar-item w3-button " onclick="MultiTrip()"><i class="fa fa-plane w3-margin-right"></i>Multi
          trip</button>
      </div>

      <!-- One way Flight -->
      <div id="One way Flight" class="w3-container w3-white w3-padding-16 myLink">
        <form method="POST" action="/flight/options/">
          <h3>The Sky Isn't You Limit Anymore </h3>
          <div class="w3-row-padding" style="margin:0 -16px;">

            <div class="w3-half">
              <label>From</label>
              <select name="From" class="w3-input w3-border" placeholder="Derparting from">
                {%for i in Airport%}
                <option value='{{i.id}}'> {{i.city}}</option>
                {%endfor%}
              </select>
            </div>

            <div class="w3-half">
              <label>To</label>
              <select name="To" class="w3-input w3-border" placeholder="Arriving at">
                {%for i in Airport%}
                <option value='{{i.id}}'> {{i.city}}</option>
                {%endfor%}
              </select>
            </div>

            <div class="w3-half">
              <label>Traviling Date</label>
              <input name="date" class="w3-input w3-border" type="date">
            </div>
            <div class="w3-half">
              <label>Passangers</label>
              <input name="Passangers" class="w3-input w3-border" type="number"
                placeholder="Every seat is for one person only ">
            </div>
          </div>
          <p><button class="w3-button w3-dark-grey" type='submit'>Search and find dates</button></p>
        </form>
      </div>


      {% comment %} Round Trip {% endcomment %}


      <div id="roundtrip" class="w3-container w3-white w3-padding-16 myLink">
        <form method="POST" action="/flight/options/">
          <h3>Where Are You Going To Explore First! </h3>
          <div class="w3-row-padding" style="margin:0 -16px;">
            <div class="w3-half">

              <label>From</label>
              <select name="RoundFrom" class="w3-input w3-border" placeholder="Derparting from">
                {%for i in Airport%}
                <option value='{{i.id}}'> {{i.city}}</option>
                {%endfor%}
              </select>
            </div>

            <div class="w3-half">
              <label>To</label>
              <select name="RoundTo" class="w3-input w3-border" placeholder="Arriving at">
                {%for i in Airport%}
                <option value='{{i.id}}'> {{i.city}}</option>
                {%endfor%}
              </select>
            </div>

            <div class="w3-half">
              <label>Traviling Date</label>
              <input name="RoundTravilingDate" class="w3-input w3-border" type="date">
            </div>

            <div class="w3-half">
              <label>Duration</label>
              <input name="RoundDuration" class="w3-input w3-border" type="number" placeholder="Staying for">
            </div>
            
          </div>
          <p><button class="w3-button w3-dark-grey" type='submit'>Search and find dates</button></p>
      </div>
      </form>
    </div>

  </header>

  <!-- Page content -->
  <div class="w3-content" style="max-width:1100px;">

    <!-- Good offers -->
    <div class="w3-container w3-margin-top">
      <h3>Good Offers Right Now</h3>
      <h6>Up to <strong>50%</strong> discount.</h6>
    </div>
    <div class="w3-row-padding w3-text-white w3-large">
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img
            src="https://www.travelandleisure.com/thmb/8ohAVyoKGzlSD5mD3NRagWAO46Q=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-header-hallstatt-austria-BEAUTEURO0323-640d96b8cfd141c9af4582fd1f11bb42.jpg"
            alt="Cinque Terre" style="width:100%">
          <span class="w3-display-bottomleft w3-padding">Villa Rufolo, Ravello, Italy</span>
        </div>
      </div>
      <div class="w3-half">
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="https://www.w3schools.com/w3images/newyork2.jpg" alt="New York" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">New york</span>
            </div>
          </div>
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="https://www.w3schools.com/w3images/sanfran.jpg" alt="San Francisco" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">San Francisco</span>
            </div>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="https://www.w3schools.com/w3images/pisa.jpg" alt="Pisa" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Pisa</span>
            </div>
          </div>
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="https://www.w3schools.com/w3images/paris.jpg" alt="Paris" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Paris</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Explore Nature -->
    <div class="w3-container">
      <h3>Explore Nature</h3>
      <p>The sky isn't your limit anymore</p>
    </div>
    <div class="w3-row-padding">
      <div class="w3-half w3-margin-bottom">
        <img src="https://i0.wp.com/handluggageonly.co.uk/wp-content/uploads/2016/09/IMG_6475.jpg?w=1600&ssl=1"
          alt="Norway" style="width:100%">
        <div class="w3-container w3-white">
          <h3>West Coast, Norway</h3>


        </div>
      </div>
      <div class="w3-half w3-margin-bottom">
        <img src="https://peakvisor.com/photo/SD/Austria-achensee-lake.jpg" alt="Austria" style="width:100%">
        <div class="w3-container w3-white">
          <h3>Mountains, Austria</h3>



        </div>
      </div>
    </div>

    <!-- Newsletter -->
    <div class="w3-container">
      <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
        <h2>Get the best offers first!</h2>
        <p>Join us.</p>
        <label>E-mail</label>
        <input class="w3-input w3-border" type="text" placeholder="Your Email address">
        <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
      </div>
    </div>

    <!-- Contact -->
    <div class="w3-container">
      <h2>Contact</h2>
      <script src="home.js"></script>
      <p>Let us book your next trip!</p>
      <i class="fa fa-map-marker" style="width:30px"></i> Cairo , Egypt<br>
      <i class="fa fa-phone" style="width:30px"></i> Phone: +20 01023332604<br>
      <i class="fa fa-envelope" style="width:30px"> </i> Email: maska_airline@gmail.org<br>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message">
        </p>
        <p><button class="w3-button w3-black w3-padding-large" type="submit"
            onclick="ValidateEmail(document.Email.Email)">SEND MESSAGE</button></p>
      </form>
    </div>

    <!-- End page content -->



    <p>Powered by <a href="https://www.miuegypt.edu.eg/#openModal" target="https://www.miuegypt.edu.eg/#openModal"
        class="w3-hover-text-green">CS.MIU</a></p>


    <script>

      function openLink(evt, linkName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("myLink");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(linkName).style.display = "block";
        evt.currentTarget.className += " w3-red";
      }

      // Click on the first tablink on load
      document.getElementsByClassName("tablink")[0].click();
    </script>

</body>

</html>